*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

.menu{
    font-size: 60px;
    text-align: center;
    margin: 40px auto 60px auto;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

/* .container::after {
    content: "";
    display: block;
    clear: both;
} */

.box{
    /* padding: 20px; */
    font-size: 20px;
    position: relative;
    border: 1px solid black;
    background-color: rgb(171, 181, 192);
}

.box-title{
    /* background-color: burlywood; */
    width: fit-content;
    padding: 5px 40px 5px 40px;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    /* float: right; */
}

section > p{
    padding: 70px 10px 10px 10px;
}
#box-1{
    float: left;
    width: 30%;
    margin: 15px;
}

#box-2{
    float: left;
    width: 30%;
    margin: 15px;
}

#box-3{
    float: left;
    width: 30%;
    margin: 15px;
}

#box-title-1{
    background-color: burlywood;
}

#box-title-2{
    background-color: blue;
}

#box-title-3{
    background-color: cadetblue;
}

/* desktop width */
@media (min-width: 992px){

}

/* Tablet width */
@media (min-width: 768px) and (max-width: 991px){
    #box-1 {
        width: 45%;
    }
    #box-2 {
        width: 45%;
    }
    #box-3 {
        width: 100%;
        clear: both;
    }
}

/* Mobile width */
@media (max-width: 767px){
    #box-1 {
        width: 100%;
        clear: both;
        margin: 5px 0px 5px 0px;
        /* margin: 5px; */
    }
    #box-2 {
        width: 100%;
        clear: both;
        margin: 5px 0px 5px 0px;

        /* margin: 5px; */
    }
    #box-3 {
        width: 100%;
        clear: both;
        margin: 5px 0px 5px 0px;

        /* margin: 5px; */
    }
}
